<div class="wrapper">
  <div class="content">
    <div class="left-block">
      <div class="logo">
        <div class="piccont">
          <div class="pic">
            <div class="picsign">
              {{userInfo.userName[0]}}
            </div>
          </div>
        </div>
        <div class="logosign">
          {{userInfo.userName}} {{userInfo.userLastName}}
        </div>
      </div>
      <div class="navleft">
        <ul>
          <li *ngFor="let item of items">
            <div class="navleftElement" headingTouch (click)="btnNavigate(item.route); logout(item.logout)">
              <img src="assets/icon/{{dynamicImg(item.img, item.route)}}.svg">
              {{item.title}}
              <div *ngIf="dynamicSelec(item.route, item.title)" class="selection"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="main">
      <div class="allcourses">
        <p>{{title}}</p>
      </div>
      <div class="frameset">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
